* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body, footer {
    font-family: 'Archivo', sans-serif;
}

header {

    width: 100vw;

    padding: 1.5rem;

    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {

    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 1rem;

    font-weight: bold;
    font-size: 2rem;
}

main img {
    width: 26rem;

    margin-left: -2rem;
}

footer {

    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 0;

    font-size: 0.9rem;

    padding: 0.5rem;

    -webkit-box-shadow: 0px -5px 6px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px -5px 6px 0px rgba(0,0,0,0.23);
    box-shadow: 0px -5px 6px 0px rgba(0,0,0,0.23);
}

footer img {

    width: 2rem;
    margin-left: 0.5rem;

    
}